* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #123c69;
}

.wrapper {
    max-width: 500px;
    background-color: #edc7b7;
    margin: 0 auto;
    padding: 20px;
}

.todo_list h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0 0 0.5em 0;
    text-align: center;
}

.add_todo_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.new_todo_field, .edit_todo_field {
    display: block;
    background-color: white;
    padding: 0.5em 1em;
    flex-grow: 2;
}

.new_todo_field {
    margin: 0 0.5em 0 0;
}

.edit_todo_field {
    width: 100%;
    margin: 0 0 0.5em 0;
}

input.invalid {
    outline: 2px solid #ac3b61;
    outline-offset: 0;
}

input.invalid::placeholder {
    color: #ac3b61;
}

.todo_list ul li {
    background-color: #eee2dc;
    margin: 10px 0 0 0;
    padding: 5px;
}

.todo_list span.todo_item_text {
    padding: 0.5em 1em;
    display: block;
}

/* Все кнопки. */
.add_button, .delete_button, .edit_button, .cancel_button, .save_button {
    padding: 0.5em 0.8em;
}

.add_button {
    color: #eee2dc;
    background-color: #123c69;
}

.delete_button, .edit_button, .cancel_button, .save_button {
    margin: 0 0 0 5px;
    float: right;
}

.delete_button {
    color: #eee2dc;
    background-color: #ac3b61;
}

.save_button {
    color: #eee2dc;
    background-color: #123c69;
}

.todo_list ul li::after {
    display: block;
    content: "";
    clear: both;
}