* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    max-width: 400px;
    margin: 15px auto 0;
}

.wrapper h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0 0 0.3em;
}

.converter {
    background-color: #9cc;
    padding: 15px;
}

.converter_row {
    margin: 0 0 1em;
}

.converter_row:last-child {
    margin: 0;
}

.converter_row::after {
    display: block;
    content: "";
    clear: both;
}

.converter_row label {
    display: block;
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 0 0.2em;
}

.converter_row p.error {
    line-height: 2em;
    color: #c03;
    font-weight: bold;
    display: none;
}

.converter_row input.temperature {
    display: block;
    padding: 0 0.5em;
    font-size: 1.5em;
    line-height: 2em;
    width: 100%;
    background-color: #cff;
}

.converter_row:first-child input.temperature {
    background-color: #fff;
}

.converter_row input.red {
    outline: 2px solid #c03;
    outline-offset: 0;
}

button.convert_button {
    width: auto;
    padding: 0.5em 0.8em;
    float: right;
    background-color: #399;
    color: #fff;
    font-weight: bold;
}

button.convert_button:hover {
    background-color: #066;
}