* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1em;
    color: #70635D;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    max-width: 742px;
    margin: 0 auto;
}

.page_header {
    padding: 10px 20px 0 20px;
}

.page_header h1 {
    font-size: 1.75em;
    line-height: 1.2em;
    margin: 0 0 0.2em;
}

.content {
    padding: 15px 20px 15px 20px;
    background-color: #FDEED9;
}

.form_row {
    font-size: 0.875em;
    margin: 0 0 1.143em;
}

.form_row label,
.form_row input,
.form_row textarea {
    display: block;
    width: 100%;
}

.form_row label {
    font-weight: bold;
    margin: 0 0 0.572em;
}

.form_row input,
.form_row textarea {
    padding: 0.643em;
    background-color: #FFF;
    border: none;
    resize: vertical;
}

.form_row input:focus,
.form_row textarea:focus {
    outline: 1px solid #AEABA8;
    outline-offset: 0;
}

.form_row input::placeholder,
.form_row textarea::placeholder {
    color: #AEABA8;
}

.form_row p {
    margin: 0 0 0.572em;
}

.button {
    margin: 0;
}

.button input {
    width: auto;
    padding: 0.5em 0.8em;
    float: right;
    background-color: #388DB2;
    border: 1px solid #387386;
    color: #FFF;
    font-weight: bold;
}

.button input:hover {
    background-color: #387386;
}

.button::after {
    display: block;
    content: "";
    clear: both;
}