* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1em;
    color: #70635D;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.wrap {
    max-width: 742px;
    margin: 0 auto;
}

.page_header {
    padding: 10px 20px 0 20px;
}

.page_header h1 {
    font-size: 1.75em;
    line-height: 1.2em;
    margin: 0 0 0.2em 0;
}

.content {
    padding: 20px 20px 15px 20px;
    background-color: #FDEED9;
}

form p {
    font-size: 0.875em;
    margin: 0 0 1.35em 0;
}

label,
input,
textarea {
    display: block;
    width: 100%;
}

label {
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

input,
textarea {
    padding: 0.75em;
    background-color: #FFF;
    border: none;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: 1px solid #AEABA8;
    outline-offset: 1px;
}

input::placeholder,
textarea::placeholder {
    color: #AEABA8;
}

p.button {
    margin: 0;
}

p.button input {
    width: auto;
    padding: 0.5em 0.8em;
    float: right;
    background-color: #388DB2;
    border: 1px solid #387386;
    color: #FFF;
    font-weight: bold;
}

p.button input:hover {
    background-color: #387386;
}

p.button::after {
    display: block;
    content: "";
    clear: both;
}